<% if (data.new == true){ %>
    <form action="channel/new" method="post" class="form-inline">
        <% if (data.channel_type == "voice"){ %>
            <div id="new_channel">
                <a class="channel">
                <input id="uuid-in" class="form-control" type="text" placeholder="" readonly>
                <input id="name-in" class="form-control" name="name" value="<%= data.channel_name %>"></input>
                <input name="type" type="hidden" value="<%= data.channel_type %>">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-danger" type="button" onclick="cancelChannel('<%= data.uuid %>')">Cancel</button>
                </a>
            </div>
        <% } else if(data.channel_type == "text"){ %>
            <div id="new_channel">
                <a class="channel">
                    <input  id="pos-in" class="form-control" name="position" value="" readonly></input>
                    <input id="uuid-in" class="form-control" type="text" placeholder="" readonly>
                    <input id="name-in" class="form-control" name="name"></input>
                    <input id="desc-in" class="form-control" name="description"></input>
                    <input name="type" type="hidden" value="<%= data.channel_type %>">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" type="button" onclick="cancelChannel('<%= data.uuid %>')">Cancel</button>
                </a>
            </div>
        <% } else if(data.channel_type == "extensions") { %>
            <div id="new_channel">
                <a class="channel">
                    <input  id="pos-in" class="form-control" name="position" value="" readonly></input>
                    <input id="uuid-in" class="form-control" type="extensions" placeholder="" readonly>
                    <input id="name-in" class="form-control" name="name"></input>
                    <input name="type" type="hidden" value="<%= data.channel_type %>">
                    <select class="form-control" name="handler">
                        <% for(extension in extensions){ %>
                            <option value="<%= extension %>" ><%= extensions[extension].oc_config.disp_name %></option>
                        <% };%>
                    </select>
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" type="button" onclick="cancelChannel('<%= data.uuid %>')">Cancel</button>
                </a>
            </div>
        <% }; %>
    </form>
<% } else { %> 
    <form action="channel/<%= data.uuid %>/update" method="post" class="form-inline">
        <% if (data.channel_type == "voice"){ %>
            <div>
                <a id="<%= data.uuid %>" class="channel">
                    <input  id="pos-in" class="form-control" name="position" value="<%= data.index %>"></input>
                    <input id="uuid-in" class="form-control" type="text" placeholder="<%= data.uuid %>" readonly>
                    <input  id="name-in" class="form-control" name="name" value="<%= data.channel_name %>"></input>
                    <button class="btn btn-success update-btn" type="submit">Update</button>
                    <button class="btn btn-danger delete-btn" type="button" onclick="deleteChannel('<%= data.uuid %>')">Delete</button>
                </a>
            </div>
        <% }else if(data.channel_type == "text"){ %>
            <div>
                <a id="<%= data.uuid %>" class="channel">
                    <input  id="pos-in" class="form-control" name="position" value="<%= data.index %>"></input>
                    <input id="uuid-in"  class="form-control" type="text" placeholder="<%= data.uuid %>" readonly>
                    <input  id="name-in" class="form-control" name="name" value="<%= data.channel_name %>"></input>
                    <input id="desc-in" class="form-control" name="description" value="<%= data.channel_description %>"></input>
                    <button class="btn btn-success update-btn" type="submit">Update</button>
                    <button class="btn btn-danger delete-btn" type="button" onclick="deleteChannel('<%= data.uuid %>')">Delete</button>
                </a>
            </div>
        <% } else if(data.channel_type == "extensions") { %>
            <div>
                <a id="<%= data.uuid %>" class="channel">
                    <input  id="pos-in" class="form-control" name="position" value="<%= data.index %>"></input>
                    <input id="uuid-in"  class="form-control" type="extensions"  placeholder="<%= data.uuid %>" readonly>
                    <input  id="name-in" class="form-control" name="name" value="<%= data.channel_name %>"></input>
                    <select class="form-control" name="handler">
                        <% for(extension in extensions){ %>
                            <% if (extensions[extension].name != data.handler){ %>
                                <option value="<%= extension %>" ><%= extensions[extension].oc_config.disp_name %></option>
                            <% } else { %>
                                <option  value="<%= extension %>" selected><%= extensions[extension].oc_config.disp_name %></option>
                            <% } %>
                        <% };%>
                    </select>
                    <button class="btn btn-success update-btn" type="submit">Update</button>
                    <button class="btn btn-danger delete-btn" type="button" onclick="deleteChannel('<%= data.uuid %>')">Delete</button>
                </a>
            </div>
        <% }; %>
    </form>       
<% }; %>