<%- include('_head') %>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="./img/logo.png" width="auto" height="40px" alt="">
        OpenChat Admin
    </a>
    <a type="button" class="btn btn-danger" href="/admin/logout">Sign Out</a>
</nav>
<body>
    <div class="container" style="padding-top: 20px;">
        <div class="card">
            <div class="card-body">
                <h2>Config</h2>
                <div class="container" style="margin-bottom: 40px;">
                    <form action="server/update" method="post">
                        <div class="form-group">
                            <label for="serverName">Server Name</label>
                            <input id="serverName" class="form-control" name="name" value="<%= conf.server.name %>"></input>
                        </div>
                        <button class="btn btn-success">Save</button>
                    </form>
                </div>
    
                <h2>Channels</h2>
                <div class="container" style="margin-bottom: 40px;">
                    <h5>Text</h5>
                    <div id="text_channels">
                        <div class="form-group">
                            <form class="form-inline headings-form">
                                <div>
                                    <a>
                                        <input class="form-control" placeholder="Position" readonly></input>
                                        <input class="form-control" placeholder="UUID" readonly></input>
                                        <input class="form-control" placeholder="Name" readonly></input>
                                        <input class="form-control" placeholder="Description" readonly></input>
                                    </a>
                                </div>
                            </form>
                            <% conf.server.channels.text.forEach(function(e, i){ %>
                            <% 
                                var data = Object.create(e);
                                data.new = false; 
                                data.index = i; 
                                data.channel_type = "text";
                            %>
                            <%- include('_channel', {data: data}); %>
                            <% }); %>
                        </div>
                    </div>
                    <button onclick="addChannel('text')" class="btn btn-primary add-channel">Add Channel</button>
                </div>

                <div class="container">
                    <h5>Voice</h5>
                    <div id="voice_channels">
                        <div class="form-group">
                            <form class="form-inline headings-form">
                                <div>
                                    <a>
                                        <input class="form-control" placeholder="Position" readonly></input>
                                        <input class="form-control" placeholder="UUID" readonly></input>
                                        <input class="form-control" placeholder="Name" readonly></input>
                                    </a>
                                </div>
                            </form>
                            <% conf.server.channels.voice.forEach(function(e, i){ %>
                            <% 
                                var data = Object.create(e);
                                data.new = false; 
                                data.index = i;
                                data.channel_type = "voice";
                            %>
                            <%- include('_channel', {data: data}); %>
                            <% }); %>
                        </div>
                    </div>
                    <button onclick="addChannel('voice')" class="btn btn-primary add-channel">Add Channel</button>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 20px">
            <div class="card-body">
                <h2>Users</h2>
                 <table class="table" style="max-height: 80vh; overflow-y: scroll;">
                    <thead>
                      <tr>
                        <th scope="col">IP</th>
                        <th scope="col">Aliases</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                        <% var allIP = [];
                        for (i=0; i < users.length; i++){
                            if (!(allIP.includes(users[i].ip))) allIP.push(users[i].ip);
                        };
                        allIP.forEach(function(ip){ 
                            var names = users.filter(user => {return user.ip === ip});%>
                            <tr>
                                <form action="users/blacklist" method="post">
                                    <td><%= ip %></td>
                                    <td><% names.forEach(function(user){%>
                                        <%= user.name %>,
                                    <%}) %>
                                    </td>
                                    <input name="ip" type="hidden" value="<%= ip %>">
                                    <td><% if(!(conf.blacklist.includes(ip))){%><button type="submit" class="btn btn-danger">Add to Blacklist</button><% } else {%><button type="button" class="btn btn-dark" onclick="removeFromBlacklist('<%= ip %>')">Remove from Blacklist</button><%}%></td>
                                </form>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
