<!DOCTYPE html>
<html lang="en">
<%- include('_head', {req}) %>

  <body>
    <div id="overlay">
      <% if(req.user.permissions.permission_edit_channels){%>
      <div class="modal" id="add_channel">
        <h2>New Channel</h2>
        <form action="admin/channel/new" method="post" >
          <!-- TODO - Create radios dynamically for each defined channel type -->
          <input type="radio" id="type_select_voice" name="type" value="voice">
          <label for="type_select_voice">Voice</label>
          <br>
          <input type="radio" id="type_select_text" name="type" value="text">
          <label for="type_select_text">Text</label>
          <input type="text" name="name" placeholder="Channel Name">
          <button>Add</button>
        </form>
      </div>
    <% } %>
    <% if(req.user.permissions.permission_edit_channels){%>
      <div class="modal" id="edit_channel">
        <h2>Edit Channel</h2>
        <form action="admin/channel//edit" method="post" >
          <input type="text" name="name" placeholder="Channel Name">
          <button>Save</button>
        </form>
      </div>
    <% } %>
    <% if(req.user.permissions.permission_edit_server){%>
      <div class="modal" id="edit_server">
        <h2>Edit Server</h2>
        <form action="admin/server/edit" method="post" >
          <input type="text" name="name" placeholder="Server Name">
          <button>Save</button>
        </form>
      </div>
    <% } %>
  </div>

    <nav>
      <div class="brand">
        <img id="oc_image" src="./img/logo.svg">
        <h1 id="server_title"><%= config.name %></h1>
        <% if(req.user.permissions.permission_edit_server){ %> 
          <a href="#" class="edit_server_btn"><i class="fas fa-cog"></i></a> 
        <% } %>
      </div>
      <a id="nav-close"><i class="fas fa-times"></i></a>
      <div id="channel_heading">
        <a>Channels</a>
        <% if(req.user.permissions.permission_edit_channels){ %> 
          <a href="#" id="add_channel_btn"><i class="fas fa-plus"></i></a> 
        <% } %>
      </div>
      <div id="channels">
        <% for (const [type, type_channels] of Object.entries(channels)) { %>
          <div class="channel-group">
            <h4><%= type.toUpperCase() %></h4>
            <ul id="<%= type %>_channels">
              <% type_channels.forEach(data => {%>
                <%- include(`_${type}_channel`, {data, req}) %>
              <%}); %>
              </ul>
            </div>
        <%};%>
      </div>
      <% %>
      <div id="control_area">
        <a id="mute_microphone" class="control-button"><i class="fas fa-microphone fa-lg"></i></a>
        <a id="mute_audio" class="control-button"><i class="fas fa-volume-up fa-lg"></i></a>
        <a id="disconnect_button" class="control-button" style="display: none;"><i
            class="fas fa-phone-slash fa-lg"></i></a>
      </div>
    </nav>

    <main>
      
      <!-- MOVE THIS INTO SEPARATE MESSAGE CONTROLLER -->
      <!-- START -->
      <div id="channel_info">
        <a id="nav-toggle" style="font-size: 2em;"><i class="fas fa-bars"></i></a>
        <h2 id="channel_name"></h2>
        <p id="channel_description"></p>
      </div>
      <div style="display: flex; flex-direction: column; flex-grow: 1; overflow-y: scroll;" id="message_scroll">
        <div id="load_messages" style="width: 100%; text-align: center; margin-top: auto; display: none;">
          <a href="#">Load More</a>
        </div>

        <div style="min-height: 100%;">
          <ol id="messages">
          
          </ol>
        </div>
      </div>

      <div id="new_message" class="notification bottom hidden">
        <a>New Message</a>
        <div style="display: inline;">
          <a style="cursor: pointer;" id="new_msg_btn">View</a>
          <a style="cursor: pointer; size: 5px; margin-left: 10px;" id="new_msg_close"><i class="fas fa-times"></i></a>
        </div>
      </div>

      
      <% if(req.user.permissions.permission_send_message){ %>
      <form id="message_input_area">
        <textarea rows="1" id="message_box" disabled></textarea>
        <button id="message_send" disabled>Send</button>
      </form>
    <% } else {%>
      <div id="message_input_area">
        <p style="color: grey">You do not have permission to send messages.</p>
      </div>  
    <%} %>
    <!-- END -->
  </main>
  </body>
</html>