<div class="ogp-card">
    <img src="<%= ogp.imageSRC %>">
    <p>
        <a target="_blank" href="<%= ogp.url %>"><strong><%= ogp.siteName %></strong><%= ogp.title %></a>
        <br>
        <%= ogp.desc %>
    </p>
</div>