<% for(i = 0; i < data.length; i++){ 
var message = data[i];
%>
<div id="<%= message.message_id %>" class="message-card">
    <p>
        <strong><%= message.sender_name %></strong>
        <i><%= message.message_date %></i>
        <br>
        <%- message.message_content %>
    </p>
    
    <% if("ogp" in message){ %>
        <% var ogp = message.ogp; %>
        <%- include('_ogp', {ogp: ogp}) %>
    <% } %>

    <% if("yt" in message){ %>
        <% var url = message.yt; %>
        <%- include('_yt_embed', {url: url}) %>
    <% } %>

    <% if("twitch" in message){ %>
        <% var url = message.twitch; %>
        <%- include('_twitch_embed', {url: url, id: message.message_id}) %>
    <% } %>
</div>
<% } %>