<% for(i = 0; i < data.length; i++){ 
var message = data[i];
%>
    <div id="<%= message.id %>" class="message-card">
        <div "msg-meta">
            <strong class="user inline" data-userid="<%= message.User.id %>"><%= message.sender %></strong>
                <i class="date">
                <script type="text/javascript">
                    var date = new Date("<%= message.date %>");
                    var now = new Date();
                    var dispDate;
                    if(Math.floor(Math.abs(now - date) / (1000 * 60 * 60 * 24)) == 0){
                        dispDate = date.toLocaleTimeString();
                    } else {
                        dispDate = date.toLocaleString();
                    }
                    $("#<%= message.id %> .date")[0].innerHTML = dispDate;
                </script>
                </i>
                <% if(message.User.id === req.user.id || req.user.permissions.channels[message.ChannelId].manage_messages){%>
                    <a class="msg_delete">Delete</a>
            <%}%>
        </div>
        <p class="msg-content">
        <%- message.content %>
        </p>
        
        <% if("ogp" in message){ %>
            <%- include('_ogp', {ogp: message.ogp}) %>
        <% } %>

        <% if("yt" in message){ %>
            <%- include('_yt_embed', {id: message.id, url: message.yt}) %>
        <% } %>

        <% if("twitch" in message){ %>
            <%- include('_twitch_embed', {id: message.id, url: message.twitch}) %>
        <% } %>
        
        <% if("spotify" in message){ %>
            <%- include('_spotify_embed', {id: message.id, url: message.spotify}) %>
        <% } %>

        <% if("appleMusic" in message){ %>
            <%- include('_appleMusic_embed', {id: message.id, url: message.appleMusic}) %>
        <% } %>
    </div>
<% } %>